<div class="px-4">
  <div class="pt-5">
    <h2>Forgot your password?</h2>
  </div>
  <div class="mt-4">
    <p>
      We heard you lost your password. If you really did, click
      the button below to change your password. The link will expire in 1 hour.
    </p>
  </div>
  <div class="pb-4 my-4 border-bottom">
    <a class="btn btn-primary py-2" href="{{baseUrl}}{{url}}" target="_blank" rel="noopener noreferrer">Change Password
      &#8594;</a>
  </div>
  <div>
    <p>
      Or, paste this link into your browser:
      <a href="{{baseUrl}}{{url}}" target="_blank" rel="noopener noreferrer">{{baseUrl}}{{url}}</a>
    </p>
  </div>
  <div class="text-left mt-5">
    <p>
      Thank you,<br>
      Automated Carpark
    </p>
  </div>
</div>
